/*
---- Palette ----
Green: 517369 
Mustard: D9A404
Brown: 593B02
Beige: F2EDE4
Orange: F2AF5C
*/

@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

/* ---- HTML ELEMENTS ---- */
html
{
  width: 100%;
  height: 100%;
}

body
{
  background-color: #F2EDE4;
  font-family: 'Spectral', serif;
}

h2, h3
{
  color: #593B02;
}

h1
{
  color: #D9A404;
}

/* ---- NAVIGATION BAR ---- */
#nav
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#nav h1
{
  font-size: 3.6em;
}

#search
{
  align-self: center;
}

#search input
{
  padding: 1em;
  border: none;
  width: 20em;
  border-radius: 1em;
}

#nav button
{
    width: fit-content;
    height: fit-content;
}

/* #nav ul
{
  margin: 5em;
  list-style: none;
}

#nav li
{
  display: inline;
  margin: 1em;
  font-size: 1.1em;
  font-weight: 700;
}

#nav a
{
  color: #593B02;
  text-decoration: none;
}

#nav a:active
{
  color: #F2AF5C;
} */

/* ---- MAIN ---- */
.App
{
  display: flex;
  flex-flow: column wrap;
  padding: 2em;
  font-size: 14px;
}

.root
{
  display: inline-flex;
  flex-direction: row;
  padding: 2em;
}

/* ---- FORM ---- */
.form
{
  display: flex;
  flex-flow: column wrap;
  align-items: left;
  justify-content: center;
  background-color: white;
  border-radius: 2em;
  box-shadow: 0.1em 0.1em 0.5em;
  margin: 2em;
  padding: 1em;
  height: fit-content;
  width: max-content;
}

.form input
{
  width: 20em;
  height: 1em;
  margin: 1em;
  padding: 0.5em;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 0.6em;
}

.form label
{
  font-size: 18px;
  font-weight: 800;
}

.form button
{
  margin: 1em;
  background-color: #593B02;
  color: #D9A404;
  border-radius: 1em;
  padding: 0.5em;
  cursor: pointer;
}

/* ---- BOOK CARDS ---- */
.container
{
  display: inline-flex;
  flex-flow: row wrap;
  align-content: space-around;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: max-content;
  height: max-content;
}

.bookCard
{
    flex-flow: column wrap;
    border-radius: 1em;
    padding: 1em;
    margin: 0.5em;
    background-color: whitesmoke;
    box-shadow: 0.1em 0.1em 0.1em #593B02;
}

.bookCard button
{
    background-color: rgb(150, 150, 150, 0%);
    color: #D9A404;
    padding: 0.2em;
    margin: 0.2em;
    cursor: pointer;
    border: none;
}

.bookCard input
{
    border: 1px solid rgb(150, 150, 150);
    border-radius: 0.6em;
    padding: 0.4em;
}

.wrapper
{
    width: 94em;
    background-color: #517369;
    padding: 1em;
    border-radius: 2em;
    box-shadow: 0.5em 0.5em 1em rgb(150, 150, 150);
}